
    <!--=========================================================Footer=======================================================-->
    <footer class="bg-custom-dark text-white py-5 ">
        <div class="container">
            <!-- Top Footer -->
            <div class="row align-items-center justify-content-between text-center text-md-start mb-4">
                <div class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center gap-2">
                    <a href="../index.html" class="text-decoration-none text-white">3legant.</a>
                    <span class="d-none d-md-inline ">|</span>
                    <span class="">Gift & Decoration Store</span>
                </div>

                <div class="col-12 col-md-6">
                    <ul class="list-unstyled d-flex flex-wrap justify-content-center justify-content-md-end gap-3 mb-0">
                        <li><a href="../index.html" class="text-decoration-none text-white">Home</a></li>
                        <li><a href="../pages/shop.html" class="text-decoration-none text-white">Shop</a></li>
                        <li><a href="../pages/contact.html" class="text-decoration-none text-white">About</a></li>
                        <li><a href="../pages/blog.html" class="text-decoration-none text-white">Blog</a></li>
                        <li><a href="../pages/contact.html" class="text-decoration-none text-white">Contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- seprator -->
            <hr class="border-secondary my-4 px-2">

            <!-- Bottom Footer -->
            <div class="row align-items-center justify-content-between text-center text-md-start">
                <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex flex-column flex-md-row align-items-center gap-3">
                    <span class="text-white small">© 2023 3legant. All rights reserved</span>
                    <a href="#" class="text-decoration-none text-white small">Privacy Policy</a>
                    <a href="#" class="text-decoration-none text-white small">Terms of Use</a>
                </div>

                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end gap-3">
                    <!-- Instagram -->
                    <a href="https://www.instagram.com" target="_blank" class="text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                            <path d="M16 11.37a4 4 0 1 1-7.9 1.43 4 4 0 0 1 7.9-1.43Z" />
                            <line x1="17.5" y1="6.5" x2="17.5" y2="6.5" />
                        </svg>
                    </a>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com" target="_blank" class="text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 2h-3a4 4 0 0 0-4 4v3H8v4h3v9h4v-9h3l1-4h-4V6a1 1 0 0 1 1-1h3z" />
                        </svg>
                    </a>

                    <!-- YouTube -->
                    <a href="https://www.youtube.com" target="_blank" class="text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M22.54 6.42a2.78 2.78 0 0 0-1.95-1.95C18.88 4 12 4 12 4s-6.88 0-8.59.47A2.78 2.78 0 0 0
                                    1.46 6.42 29.94 29.94 0 0 0 1 12c0 1.91.16 3.82.46 5.58a2.78 2.78 0 0 0
                                    1.95 1.95C5.12 20 12 20 12 20s6.88 0 8.59-.47a2.78 2.78 0 0 0
                                    1.95-1.95C22.84 15.82 23 13.91 23 12a29.94 29.94 0 0 0-.46-5.58z" />
                            <polygon points="9.75 15.02 15.5 12 9.75 8.98 9.75 15.02" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>